.lead {
  font-size: 155%;
  line-height: 1.6;
  font-family: 'Handlee', cursive;
  font-weight: bold; }

.top-bar, .top-bar ul {
  background-color: #0a0a0a; }

.top-bar a, .top-bar ul a {
  color: #fefefe; }

.logo_index {
  width: 200px; }

#wrap-contente {
  min-height: 100vh; }
