.full-width {
  max-width: 1400px; }

.footer {
  background-color: #0a0a0a;
  padding: 0.5em 2rem;
  text-align: center;
  color: #fff; }
  .footer i {
    font-size: 3em;
    margin-left: 1em; }
  @media screen and (min-width: 0em) and (max-width: 39.9375em) {
    .footer {
      padding: 1rem; } }

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px; }

.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff; }

.footer p {
  margin-bottom: 0rem;
  margin-top: 0.5rem; }

@media screen and (min-width: 64em) {
  .footer {
    margin-top: -73px; } }

.footer-links {
  list-style-type: none; }
  .footer-links li {
    margin-top: .5em; }
