.article-card {
  border: 1px solid #e6e6e6;
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 5px 0px #e6e6e6;
  /*.card-content h4 {
    color: $primary-color; 
  }*/ }
  .article-card .card-content {
    background: #fefefe;
    margin: 1.25rem; }
  .article-card .card-content .post-author {
    text-align: center; }
  .article-card .card-content p {
    color: #757D75; }
  .article-card .card-content a i {
    font-weight: 300;
    color: #757D75;
    margin: 0 .5rem;
    padding: 5px 7px 5px 7px;
    border: 1px solid #757D75;
    border-radius: 50%; }
  .article-card .card-content img.post-icon {
    position: absolute;
    width: 3rem;
    border-radius: 50%;
    margin-top: -2rem;
    margin-left: 3em; }
