
@import '_settings.scss';

.lead {
    font-size: 155%;
    line-height: 1.6;
    font-family: 'Handlee', cursive;
    font-weight: bold;
}
.top-bar, .top-bar ul {
    background-color: $black;
}
.top-bar a, .top-bar ul a{
    color : $white;
}

.logo_index{
	width: 200px;
}



#wrap-contente{
	min-height: 100vh;
}

#main-content{

}